<form class="register-form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field appearance="fill">
      <input matInput formControlName="email" placeholder="email">
      <mat-error *ngIf="loginForm.get('email')?.hasError('required')">обов'язкове поле</mat-error>
      <mat-error *ngIf="loginForm.get('email')?.hasError('minlength')">мінімум 5 символів</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <input type="password" matInput formControlName="password" placeholder="password">
      <mat-error *ngIf="loginForm.get('password')?.hasError('required')">обов'язкове поле</mat-error>
      <mat-error *ngIf="loginForm.get('password')?.hasError('minlength')">мінімум 5 символів</mat-error>
    </mat-form-field>
  </div>
  <div>
    <button class="btn" type="submit" mat-raised-button color="primary" [disabled]="!loginForm.valid">Увійти</button>
  </div>
  <div>
    <a class="btn" mat-button routerLink="/register">Зареєструватись</a>
  </div>
</form>