<layout-main>
    <div class="users">
        <h2 class="title">Пользователи</h2>
        <div class="user-list">
            <p>{{ users$ | async | json }}</p>
            <div
                class="user-card"
                *ngFor="let user of users$ | async"
            >
                <h2 class="user-name">{{user.name}}</h2>
                <p *ngIf="user.isAdmin">Администратор</p>
                <button (click)="deleteUser(user.id)">Delete user</button>
            </div>
        </div>
        <div>
            <form [formGroup]="newUserForm" (ngSubmit)="addUser()">
                <label>
                    User name
                    <input type="text" formControlName="name" />
                </label>
                <label>
                    Email
                    <input type="text" formControlName="email">
                </label>
                <label>
                    IsActive
                    <input type="checkbox" formControlName="isActive">
                </label>
                <label>
                    IsAdmin
                    <input type="checkbox" formControlName="isAdmin">
                </label>
                <button type="submit">Add new user</button>
            </form>
            <button (click)="deleteUser('ysk0u4FoejGbMWF7JhsG')">Delete user</button>
        </div>
    </div>
</layout-main>