<div class="register container" fxLayout="row" fxLayoutAlign="center center">
  <div>
    <h2>Реєстрація</h2>
    <register-form (submitEvent)="handleRegister($event)"></register-form>
  </div>
</div>