<form class="register-form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <div>
    <mat-form-field appearance="fill">
      <input matInput formControlName="email" placeholder="email">
      <mat-error *ngIf="registerForm.get('email')?.hasError('required')">обов'язкове поле</mat-error>
      <mat-error *ngIf="registerForm.get('email')?.hasError('minlength')">мінімум 5 символів</mat-error>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field appearance="fill">
      <input type="password" matInput formControlName="password" placeholder="password">
      <mat-error *ngIf="registerForm.get('password')?.hasError('required')">обов'язкове поле</mat-error>
      <mat-error *ngIf="registerForm.get('password')?.hasError('minlength')">мінімум 5 символів</mat-error>
    </mat-form-field>
  </div>
  <div>
    <button type="submit" mat-raised-button color="primary" [disabled]="!registerForm.valid">Зареєструватись</button>
  </div>
</form>