<header>
  <mat-toolbar>
    <div fxLayout="row" fxFlexFill fxLayoutAlign="space-between center">
      <a
        class="app-title"
        routerLink="/"
      >Astra</a>
      <a routerLink="/login">
        <ng-container *ngIf="auth.user | async as user">
          <span>Welcome, {{user.email}}!</span>
        </ng-container>
        <mat-icon>account_circle</mat-icon>
      </a>
    </div>
  </mat-toolbar>
</header>