.content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 64px);
}

.title {
    text-transform: uppercase;
    font-size: 60px;
}

.button {
    margin: 25px;
}