<layout-main>
    <div class="content">
        <h1 class="title">Astra</h1>
        <div>
            <button class="button" mat-raised-button color="primary">Написати відгук</button>
            <button class="button" mat-raised-button color="primary">Пройти тестування</button>
        </div>
    </div>
</layout-main>